.navbar{
	background-color: #fff176;
}













#portfolio{
	height: 100vh;
}

#skills{
	height: 100vh;
}

/*.fadeInLeft{
	animation-delay: 1s;
}

.fadeInRight{
	animation-delay: 1s;
}*/



/*TABLET*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){

}

/*MOBILE*/
@media only screen and (min-width: 400px){

}